.login__bg{
    background-image: url(../assests/chat_login3.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}